
*.h5
**/data/
**/test_trashcan/
**/__pycache__/
*.log
#*/demo_run.ipynb
#*/for_test.ipynb
**/.ipynb_checkpoints/
**/prediction/
**/training_prediction/
**/val_prediction/
**/saves/
**/os_data/
**/results/
#/demo_lite_test
**/BACKUP/

